@model IEnumerable<Gradues>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container p-3 border">
    <div class="row pt-4">
        <div class="col-6 m-0">
            <h3 class="text-primary">Liste Des étudiants déjà gradués de la CCPS</h3>
        </div>
        <div class="col-6 text-end">
            <form class="d-flex">
                 <input class="form-control me-sm-2" type="text" placeholder="Search">
                 <button class="btn btn-secondary my-0 my-sm-0" type="submit"><i class="bi bi-search"></i></button>
            </form>
        </div>
    </div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Nom
            </th>
            <th>
                Prénom
            </th>
            <th>
                Date Gradué
            </th>
            <th>
               Option
            </th>
        </tr>
    </thead>
    <tbody>
       @foreach(var obj in Model)
        {
            <tr>
                <td width="25%">
                    @obj.GradueID
                </td>
                 <td width="25%">
                    @obj.PersonneID
                </td>
                 <td width="25%">
                    @obj.DateGraduation
                </td>
                 <td width="25%">
                    @obj.Sujet
                </td>0
            </tr>
        }

    </tbody>
</table>
</div>
