@model JoursDeClasses
@{
    ViewData["Title"] = "AddJourDeClasse";
    Layout = "~/Views/Shared/_LayoutAdminPanel.cshtml";
}

<div class="container">
    <!-- Html pour Ajouter classe dans la session courante -->
    <form  method="post" enctype="multipart/form-data">
      <div class="border p-3 mt-4">
       <div class="row"> 
         <h5 class="modal-title text-primary px-5" id="staticBackdropLabel">Ajouter Les Jours De Classe</h5>
         <br/>
         <h6 class="modal-title text-primary" id="staticBackdropLabel">Nb: Separez les jours avec un tirait (-)</h6>          <hr />
            <div class="col-12">
               <!-- Modal -->       
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label py-2">Nom</label>
                    <div class="col-sm-10">
                         <input asp-for="JourDescription" class="form-control" placeholder="Entrer le(s) Jour(s) (Jour ou Jour1 - Jour2)">
                    </div>
                </div> 
             </div>
        
               <div class="col-12">
                  <a class="btn btn-secondary" data-bs-dismiss="modal" style="width:150px">
                    FERMER
                  </a>
                 <button type="submit" class="btn btn-primary align-center mx-3" style="width:150px">SAUVEGARDER</button>
                </div>
            </div>
        </div>
    </form>        
</div>

