@model CreerSession
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <div class="row">
        <div class="col-6">
              <div class="w-100 pt-3">
                  <button  class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Créer une nouvelle session</button>              
               </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Nouvelle Classe</button>              
              </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Nouvelle Salle de Classe</button>              
              </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Nouveau Jour de classe</button>              
              </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Nouveau Heure de classe</button>
              </div>
              <div class="w-100 pt-3 px-0">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Choix Professeurs pour la session</button>
              </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Ajouter Annonce</button>
              </div>
              <div class="w-100 pt-3">
                  <button type="button" class="btn btn-primary w-50" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Editer une session</button>
              </div>
        </div>
        <div class="col-6">

        </div>
   </div>
</div>

