@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form method="post">
   <div class="border p-3 mt-4">
       <div class="row pb-2">
            <h2 class="text-primary text-center">Parametre Session Courante</h2>
            <hr />
         <div class="col-6 p-3"> 
           <div class="card">
             <div class="card-header text-center">
                 Choix
             </div>
            <div class="card-body">
                <select class="form-select my-4" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                 <select class="form-select my-4" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
                   <select class="form-select my-4" aria-label="Default select example">
                    <option selected>Open this select menu</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
         </div>
        </div> 
        <div class="col-6 p-3"> 
           <div class="card">
             <div class="card-header text-center">
                Résultat de votre Séléction
             </div>
            <div class="card-body">
               <div class="list-group">
                  <a href="#" class="list-group-item list-group-item-action active" aria-current="true">
                    The current link item
                  </a>
                  <a href="#" class="list-group-item list-group-item-action">A second link item</a>
                  <a href="#" class="list-group-item list-group-item-action">A third link item</a>
                  <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
                  <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
                </div>
               
            </div>
         </div>
        </div>
       <div class="text-center">        
        <a asp-controller="Panel" asp-action="Index" class="btn btn-secondary mx-5" style="width:150px">
            Go Back
        </a>
        </div>
     </div> 
   </div>
</form>
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial"/>
    }
}
